.steps {
    display: none;
    padding: 20px;
    box-shadow: 0px 0px 10px 10px #eee;
    border-radius: 3px;
}
.steps.show{
    display: block;
}

.steps > p {
    font-size: 20px;
    font-weight: bold;
}

button {
    background: #9de0c1;
    border: none;
    padding: 5px 10px;
    border: 1px solid #689681;
    cursor: pointer;
    transition: background 300ms linear; 
}

button:disabled {
    cursor: not-allowed;
}
button:hover {
    background: aqua;
}
